/original/
/out/
/dist/
/node_modules/
__pycache__/
/tools/upx.zip
/tools/upx-4.2.4-win64/
/tools/hlsl/
/tools/spv2wgsl/target/
/web/engine/target/
/web/engine/pkg/
/decompile/dxc/
/decompile/spirv/
/decompile/spirv_stripped/
/decompile/dxc/*.dxil
/decompile/dxc/*.spv
/decompile/dxc/*.glsl
/decompile/shaders/*.dxbc
/decompile/shaders/*.asm
/decompile/c/disassembly.asm
